* {
  margin: 0;
  padding: 0;
}

.chatbox {
  transition: transform 0.3s ease;
  transform: translateX(400%);
  position: fixed;
  bottom: 2px;

  &.open {
    transform: translateX(0);
    position: fixed;
    bottom: 2px;
  }
}

.menu-icon {
  margin: 15px;
  cursor: pointer;
  display: flex;
  justify-content: flex-end;

  .bar {
    width: 20px;
    height: 2px;
    background-color: #000;
    margin: 2px 0;
  }
}

.chat-container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  .message-container {
    margin-bottom: 10px;
  }

  .message {
    background-color: #f1f1f1;
    padding: 15px;
    margin-bottom: 5px;
    border-radius: 22px;
    word-break: break-word;
    max-width: 80%;
    white-space: pre-wrap;
  }

  .user-message {
    background-color: #007bff;
    color: #fff;
    align-self: flex-end;
    margin-left: 80px;
    margin-right: auto;
  }

  .other-message {
    background-color: #f0f0f0;
    color: #333;
    align-self: flex-start;
    background-color: #f0f0f0;
    color: #333;
    margin-left: auto;
    margin-right: 80px;
  }
}

.input-container {
  margin-top: 10px;
  display: flex;
  align-items: center;

  input[type="text"] {
    flex: 1;
    padding: 5px 0 5px 100px;
    text-align: right;
    padding-right: 10px;
    border-radius: 20px;
    border: 1px solid;
    height: fit-content;
  }

  button {
    padding: 5px 10px;
    background-color: #f084e4;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    margin: 10px;
  }
}
