.toggleSelect {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: 'Gotham Rounded', sans-serif;
    
    select{
        color: #252525;
        border: 2px solid #ffd900;
        border-radius: 20px;
        text-align: center;
        background-color: rgb(255, 255, 255);
        box-shadow: 5px 5px 5px rgb(255, 217, 0);
        width: 250px;
        height: 40px;
        margin-bottom: 10px;
        font-family: 'Gotham Rounded', sans-serif;
        

    }
}

